/*
 Theme Name:   Twenty Seventeen Child
 Theme URI:    
 Description:  Twenty Fifteen Child Theme
 Author:       GiapNguyen
 Author URI:   
 Template:     twentyseventeen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  
 Tags:         bootstrap, shank-layout
 Text Domain:  twenty-seventeen-child
*/

.gform_body ul li{
    display: unset;
}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=image], .gform_wrapper .gform_footer input[type=submit]{
    float: right;
    margin-right: 20px;
    margin-bottom: 102px;
    margin-top: 32px;
    padding: 5px 30px 5px 30px;
    background-color: #00a8ff;
    color: #ffffff;
    border: 0px;
}
.gform_wrapper .top_label .gfield_label{
    color: #6c6c6c;
    font-weight: 100;
}
